<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Server</title>
    <link rel="stylesheet" href="{{stylesheet}}">
  </head>
  <body>
    <h1>Recipe</h1>

    <div class="recipe">
      <span class="recipe-name">{{recipe.name}}</span><br/>

      <h3>Ingredients</h3>
      <ul class="ingredients">
        {% for item in recipe.ingredients %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <h3>Instructions</h3>
      <p class="instructions">{{recipe.instructions}}</p>

      {% if recipe.source.is_some() %}
        <span class="source">Source: {{ recipe.source.as_ref().unwrap() }}</span>
      {% endif %}

      {% if tags.len() > 0 %}
        <span class="tags">Tags: {{ tags }}</span>
      {% endif %}
    </div>

    <!-- Tag-based filtering form -->
    <form>
      <label>Tags (comma separated):</label>
      <input type="text" name="tags"/>
      <button type="submit">New Recipe</button>
    </form>
  </body>
</html>
