/* Styling for the recipe page */
.recipe-name {
  font-weight: bold;
  font-size: 150%;
}

.ingredients, .instructions {
  font-style: italic;
  margin-left: 20px;
}

.ingredients {
  margin-bottom: 1em;
}
